xml/cs/tell/tellme.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ns.adobe.com/textLayout/2008" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TextFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="p" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="span" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="fontWeight" use="optional"/>
                      <xs:attribute type="xs:string" name="color" use="optional"/>
                      <xs:attribute type="xs:string" name="fontStyle" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="fontFamily"/>
      <xs:attribute type="xs:byte" name="fontSize"/>
      <xs:attribute type="xs:string" name="header"/>
    </xs:complexType>
  </xs:element>
</xs:schema>